<div class="languageswitcher">
    <div class="modal">
        <div class="language_infotext" data-bsi-element-part="formatted-text">
            <p>
                Um Ihren aktuelle Sprache zu wechseln, wählen Sie eine der
                aufgeführten Sprachen aus.
            </p>
        </div>
        <div class="language_selection" data-bsi-element-part="formatted-text">
            <p>
                [English|text=English] [German|text=German] [French|text=French]
                [Italian|text=Italian] [Spanish|text=Spanish]
                [Russian|text=Russian] [Portugese|text=Portugese]
                [Chinese_Traditional|text=Chinese Traditional]
                [Chinese_Simplified|text=Chinese Simplified]
            </p>
        </div>
    </div>
    <div id="languageswitcher" class="languageswitcher_button">
        <img src="{{ bsi_cx_asset('./globe.svg') }}" />
        <p data-bsi-element-part="plain-text">
            ENGLISH
        </p>
    </div>
</div>
