<div class="languageswitcher">
    <div class="modal">
        <div data-bsi-element-part="formatted-text">
            <p>
                Wollen Sie Ihre Sprache wechseln?
            </p>
        </div>
        <div class="language_selection" data-bsi-element-part="formatted-text">
            <p>
                <a>English</a>
                <a>German</a>
                <a>French</a>
                <a>Italian</a>
                <a>Spanish</a>
                <a>Russian</a>
                <a>Portugese</a>
                <a>Chinese_Traditional</a>
                <a>Chinese_Simplified</a>
                <a>[Chinese|text=Chinese]</a>
            </p>
        </div>
    </div>
    <div id="languageswitcher" class="languageswitcher_button">
        <img src="{{ bsi_cx_asset('./globe.svg') }}" />
        <p data-bsi-element-part="plain-text">
            EN
        </p>
    </div>
</div>
