<div class="interviews_section" data-bsi-element="interviews">
    <div class="interviews_columnOne">
        <div class="interviews_content">
            {% include '../../elements/Subtitle/template.twig' with {
                subtitle: 'Interviews'
            } %}
            {% include '../../elements/TextSmall/template.twig' with {
                text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.'
            } %}
        </div>
        <div class="interviews_teaser-one"
            data-bsi-dropzone="interview-teaser-one">
            {% include '../../elements/InterviewTeaser/template.twig' %}
        </div>
    </div>
    <div class="interviews_columnTwo">
        <div data-bsi-dropzone="interview-teaser-two">
            {% include '../../elements/InterviewTeaser/template.twig' %}
        </div>
    </div>
</div>
