<div class="glossaryslider_slider">
    <div class="glossaryslider_carousel" aria-label="Gallery">
        <div data-bsi-dropzone="card-glossary"
            data-bsi-hide-remove-button=""
            class="glossaryslider_carousel__viewport slider_carousel__viewport"
            id="carousel-viewport">
            {% for i in 1..6 %}
                {% include '../../elements/Definition/template.twig' %}
            {% endfor %}
        </div>
    </div>
</div>
