<div class="slider_slider">
    <div class="slider_carousel" aria-label="Gallery">
        <div data-bsi-dropzone="card"
            data-bsi-hide-remove-button=""
            class="slider_carousel__viewport"
            id="carousel-viewport">
            {% for i in 1..6 %}
                {% include '../../elements/Card/template.twig' with {
                    cardClass: 'slider_carousel__slide',
                    chapter: 'Chapter 1',
                    subtitle: 'Theory',
                    text: 'How investing works',
                    buttonText: 'Read',
                    link: '[chapterOne]'
                } %}
            {% endfor %}
        </div>
    </div>
</div>
