.figure_section {
    /* max-width: 100vw;
    margin: 80px 0; */
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.figure_section figcaption {
    margin-top: 20px;
}

.figure_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figcaption a,
figcaption p a {
    color: var(--reflexblue);
}

@media only screen and (max-width: 767px) {
    .figure_section {
        margin: auto;
        max-width: var(--contentWidthMobile);
    }

    figure {
        max-width: 100%;
    }

    .figure_section figcaption {
        margin-top: 8px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .figure_section {
        margin: auto;
        max-width: calc(100% - 185px);
    }

    figure {
        max-width: 100%;
    }

    .figure_section figcaption {
        margin-top: 8px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .figure_section {
        margin: auto;
        max-width: calc(100% - 350px);
    }

    figure {
        max-width: 100%;
    }

    .figure figcaption {
        margin-top: 8px;
    }
}
